
# Router Configuration
ROUTER_HOST="0.0.0.0"
ROUTER_PORT=10420

# Path Configuration
LOGS_DIR="logs"
RUN_DIR="run"
VENV_DIR="venv"

# Filename Configuration
LOG_FILE="router.log"
PID_FILE="router.pid"
