.aider*
.env

# do not send logs or pid files to remote
logs/*
run/*

# do not send virtual environment to remote
venv/*

# do not send cache to remote
components/__pycache__/

# do not send aider's secret token to remote
AIDER_GITEA_PAT
